<% include ./partials/header %>

<div class="content">
    <div class="show-content">
        <% articles.forEach((article) => { %>
            <div class="col">
                <div class="article-title">
                    <p> <%=article.title%> </p>                    
                </div>
                <div class="favorites-icon">
                    <button class="addtofavoritesbutton" value="<%=article%>"> Favorites</button>
                </div>
                <div class="article-image">
                    <img src =<%= article.urlToImage %>>
                </div>
                <div class="article-description">
                    <p><%= article.description %></p>
                    <p><a href= <%= article.url %> target="_blank">See more</a></p>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include ./partials/footer %>