<% include ./partials/header %>

<div class="content">
    <form action="/news/sources" method="POST">
        <div class="show-content">
            <% allSources.forEach(source => { %>
                <div class = "list-item">
                    <label class="source-label" for= <%= source.id %> > <%= source.name %> </label>
                    <input class="source-checkbox" id= <%= source.id %> type="checkbox" name="sources" value=<%= source.id %> <%= userSources.indexOf(source.id) !== -1 ? "checked" : ""  %> >
                </div>
            <% }) %>
                <div>
                    <button type="submit">Submit</button>
                </div>
        </div>
    </form>
</div>

<% include ./partials/footer %>


